@{
    ViewBag.Title = "Home";
}
<body ng-controller="visionController as vCtrl">
    <div class="jumbotron">
        <h1>Google Cloud Vision API</h1>
        <p class="lead">Web application that uses the Google Cloud Vision API to analyze images.</p>
    </div>
    <div class="container well">
        <!--Navigation Tabs for Image URL or Image Upload Panes-->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#imgUrl">Image URL</a></li>
            <li><a data-toggle="tab" href="#upload">Image Upload</a></li>
        </ul>
        <div class="tab-content">
            <!--Image URL Entry Pane-->
            <div id="imgUrl" class="tab-pane fade in active panel panel-default">
                <form class="panel-body">
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" ng-model="vCtrl.imgUrl" class="form-control" id="inputAddress" placeholder="Enter URL of Image">
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="vCtrl.submitUri()">Submit</button>
                </form>
            </div>
            <!--Image Upload Entry Pane-->
            <div id="upload" class="tab-pane fade panel panel-default">
                <form class="panel-body">
                    <div class="form-group">
                        <input type="file" ng-model="vCtrl.imgFile" class="form-control-file" id="imageUpload">
                    </div>
                    <button class="btn btn-primary" ng-click="vCtrl.submitUpload()">Submit</button>
                </form>
            </div>
        </div>
        <!--Google Cloud Vision API Data shows below-->
        <div ng-show="vCtrl.load" ng-cloak>
            <!--Image Preview-->
            <img ng-src="{{vCtrl.imagePreview}}" class="img-thumbnail" width="608" height="472" />
            <!--Web Entities Table-->
            <table class="table table-condensed table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="webEnt in vCtrl.webDetection.webEntities">
                        <td>{{ webEnt.description }}</td>
                        <td>{{ webEnt.score }}</td>
                    </tr>
                </tbody>
            </table>
            <!--Pages Matching Table-->
            <table class="table table-condensed table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Matching Image Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pageMatch in vCtrl.webDetection.pagesWithMatchingImages">
                        <td><a ng-href="{{pageMatch.url}}">{{ pageMatch.url }}</a></td>
                    </tr>
                </tbody>
            </table>
            <!--Label Annotations Table-->
            <table class="table table-condensed table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="labels in vCtrl.labels">
                        <td>{{ labels.description }}</td>
                        <td>{{ labels.score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @section scripts{
        <script src="~/Scripts/Vision/VisionCtrl.js"></script>
        <script src="~/Scripts/Vision/VisionService.js"></script>
    }
</body>