@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google Cloud Vision API</h1>
    <p class="lead">Web application that uses the Google Cloud Vision API to analyze images.</p>
</div>

<div class="row">

</div>