@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google Cloud Vision API</h1>
    <p class="lead">Web application that uses the Google Cloud Vision API to analyze images.</p>
    <form>
        <div class="form-row">
            <div class="form-group">
                <label for="inputAddress" class="col-form-label">Image URL</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter URL of Image">
            </div>
            <p>Or</p>
            <div class="form-group">
                <label for="imageUpload">Image Upload</label>
                <input type="file" class="form-control-file" id="imageUpload">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="row">

</div>